@import "../theme-constants.scss";

@each $name, $color in $colors {

  .foreground-#{$name} {
    color: #{$color};
  }

  .background-#{$name} {
    @if $name == 'dark' {
      color: $dark-foreground;
    } @else if $name == 'light' {
      color: $light-foreground;
    } @else {
      color: white;
    }

    background-color: #{$color};
  }

  .border-#{$name} {
    border: 1px solid #{$color};
  }
}

.background-lighten {
  background-color: $transparent-lighten;
}

.background-darken {
  background-color: $transparent-darken;
}