@import "../theme-constants.scss";
@import "material.scss";

// Input styling

input, textarea, select, option {
  padding: $inset-tiny;
  font-family: $base-font;
  font-size: $font-size-base;
  font-weight: $font-weight-plain;
  color: $input-color;
}

form.layout-table.key-value > * > label:first-child {
  text-align: right;
  vertical-align: top;
  font-weight: $font-weight-bold;
  padding-right: 1em;
}

option:disabled {
  display: none;
}

// Input Fields
.input-field {
  overflow: hidden;

  > label:first-of-type {
    color: $primary;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: $font-size-small;
    font-weight: $font-weight-normal;
  }

  .input-field-input {
    font-weight: $font-weight-plain;
    padding: $spacing-small $spacing-tiny;
    border: none;
    background: rgba(0, 0, 0, 0.05);
    display: flex;

    > * {
      background: none;
      border: none;
      padding: 0;
      margin: 0 0 0 $spacing-base;
      flex: 1 0 auto;
      max-width: 100%;
      box-shadow: none;
    }

    > :first-child {
      margin-left: 0;
    }

    input, select, textarea {

    }

    option {
      padding: 0 $spacing-small;
    }
  }

  > .input-field-message {
    color: $primary;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: $font-size-small;
    font-weight: $font-weight-normal;
  }
}

.input-field.active {

  > .input-field-input {
    border-bottom: 2px solid $dark;
  }

  > label:first-of-type, > .input-field-message {
    color: $dark;
    font-weight: $font-weight-bold;
  }
}

.input-field.success {

  > .input-field-input {
    border-bottom: 2px solid $success;
  }

  > label:first-of-type, > .input-field-message {
    color: $success;
    font-weight: $font-weight-semi-bold;
  }
}

.input-field.error {
  > .input-field-input {
    border-bottom: 2px solid $error;
  }

  > label:first-of-type, > .input-field-message {
    color: $error;
    font-weight: $font-weight-semi-bold;
  }
}

.input-field.warning {

  > .input-field-input {
    border-bottom: 2px solid $warning;
  }

  > label:first-of-type, > .input-field-message {
    color: $warning;
    font-weight: $font-weight-semi-bold;
  }
}

.input-field.info {

  > .input-field-input {
    border-bottom: 2px solid $info;
  }

  > label:first-of-type, > .input-field-message {
    color: $info;
    font-weight: $font-weight-semi-bold;
  }
}

// Buttons

button, .button {
  padding: $inset-small $inset-base;
  cursor: pointer;
  font-weight: $font-weight-bold;
  background-color: $light-background;
  color: $light-foreground;
  border: 0;

  &:active, &:hover {
    background-color: darken($light-background, 8%);
  }

  &:active {
    transform: translate(1px, 1px);
  }
}

@each $name, $color in $colors {

  .button-#{$name} {
    @if $name == 'dark' {
      color: $dark-foreground;
    } @else if $name == 'light' {
      color: $light-foreground;
    } @else {
      color: white;
    }

    background-color: #{$color};
  }

  @if $name != 'disabled' {
    .button-#{$name}:hover, .button-#{$name}:active {
      background-color: darken($color, 5%);
    }
    .button-#{$name}:active {
      box-shadow: 0 1px 0px rgba(255, 255, 255, 0.3) inset, 0 8px 4px rgba(255, 255, 255, 0.15) inset;
      transform: translate(1px, 1px);
    }
  }

  @if $name == 'disabled' {
    .button-#{$name}:hover, .button-#{$name}:active {
      background-color: $color;
    }
    .button-#{$name}:active {
      box-shadow: inherit !important;
    }
    button:disabled {
      background-color: $color;
      color: white;
      cursor: not-allowed;
    }
  }
}

