@import "../theme-constants.scss";

@each $name, $color in $colors {
  .label-#{$name} {
    display: inline-block;
    font-size: 80% !important;
    font-weight: $font-weight-semi-bold;
    background: $color;
    border-radius: 0.25em;
    padding: $inset-tiny;
    margin: $inset-tiny 0;
    user-select: none;
    white-space: nowrap;
    min-width: 2em;
    min-height: 1.5em;
    text-align: center;
    vertical-align: middle;
    word-wrap: normal;

    @if $name == 'dark' {
      color: $dark-foreground;
    } @else if $name == 'light' {
      color: $light-foreground;
    } @else {
      color: white;
    }

    &.border {
      border: 1px solid darken($color, 15%);
    }
  }
}