@import "../theme-constants.scss";

.navbar-light {
  color: $light-foreground;
  background-color: $light-background;

  .nav-item {
    &:hover, &.active {
      background-color: $light-background-hover;
    }
  }
}

.navbar-dark {
  color: $dark-foreground;
  background-color: $dark-background;

  .nav-item {
    &:hover, &.active {
      background-color: $dark-background-hover;
    }
  }
}

.navbar {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
  align-content: space-between;
  text-overflow: ellipsis;
  max-width: 100%;
  padding: 0;

  .nav-group {
    margin: 0;
    padding: 0;
    display: flex;
  }

  > *, .nav-item {
    flex: 0 0 auto;

    display: inline-flex;
    align-items: center;
    position: relative;

    margin: 0;
    padding: $spacing-base;
  }

  .pull {
    display: inline-block;
    flex: 1 1 auto;
  }

  .nav-item {
    cursor: pointer;
  }

  a, a:active, a:visited, a:hover {
    color: inherit;
    font-weight: $font-weight-plain;
    text-decoration: none;
    cursor: pointer;
  }
}

.navbar-border {
  border: 1px solid gray;
  border-radius: 3px;
}

.navbar-small {
  > *, .nav-item {
    padding: $inset-small;
  }
}

.navbar-large {
  > *, .nav-item {
    padding: $inset-large;
  }
}