@import "../theme-constants.scss";

body {
  font-family: $base-font;
  font-weight: $font-weight-plain;

  @include fluid-type ($media-xs, $media-xl, $font-size-min, $font-size-max);

  line-height: 1.5;
  color: $base-foreground;
  text-rendering: optimizeLegibility;
  font-kerning: auto;
  hyphens: auto;
  word-wrap: break-word;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $header-font;
  font-weight: $header-font-weight;
  color: $header-color;
  margin: 0;
  padding: 0;
}

h1, .h1 {
  font-size: 100% * $header-font-size-scale * $header-font-size-scale * $header-font-size-scale * $header-font-size-scale * $header-font-size-scale;
}

h2, .h2 {
  font-size: 100% * $header-font-size-scale * $header-font-size-scale * $header-font-size-scale * $header-font-size-scale;
}

h3, .h3 {
  font-size: 100% * $header-font-size-scale * $header-font-size-scale * $header-font-size-scale;
}

h4, .h4 {
  font-size: 100% * $header-font-size-scale * $header-font-size-scale;
}

h5, .h5 {
  font-size: 100% * $header-font-size-scale;
}

h6, .h6 {
  font-size: 100%;
}

.text-small {
  font-size: 100% / $header-font-size-scale;
}

.text-tiny {
  font-size: 100% / $header-font-size-scale / $header-font-size-scale;
}

.text-base {
  font-size: 100%;
}

.text-large {
  font-size: 140%;
}

.text-huge {
  font-size: 200%;
}

.text-light {
  font-weight: 300;
}

.text-normal {
  font-weight: 400;
}

.text-semibold {
  font-weight: 600;
}

.text-bold {
  font-weight: 700;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-justify {
  text-align: justify;
}

.text-mono, .text-code {
  font-family: $code-font;
}

small {
  font-size: 90%;
}

code {
  color: $dark;
  font-family: $code-font;
  font-size: 90%;
  background-color: $light-background;
  padding: 0.2em 0.4em;
}


dt {
  font-weight: $font-weight-bold;
  color: $base-foreground-dark;
  display: list-item;
  list-style-type: square;
  list-style-position: inside;
  padding-left: 0;
  margin: 0;
  margin-top: $inset-small;
}

dd {
  font-weight: $font-weight-plain;
  padding-left: 1em;
  margin: 0;
}

.single-line {
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.text-columns-2 {
  column-count: 2;
}

.text-columns-3 {
  column-count: 3;
}

.text-columns-4 {
  column-count: 4;
}

.text-columns-2, .text-columns-3, .text-columns-4 {
  column-width: 250px;
  column-gap: $spacing-large;
}