@import "theme-constants.scss";

* {
  min-width: 1px;
  max-width: 100%;
}

*, *:after, *:before {
  box-sizing: border-box;
}

html {
  min-height: 100%;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  color: $base-foreground;
  background-color: $base-background;
}

.no-select, .no-select > * {
  user-select: none;
}

strong {
  font-weight: 700;
}

.wallpaper {
  background-size: cover;
  background-position: 100% 30%;
  box-shadow: inset 0 -5px 5px 0 rgba(0,0,0,0.6), inset 0 5px 5px 0 rgba(0,0,0,0.6);
  color: white;
  text-shadow: 0 0 20px black;
  padding: $inset-base;
  margin-bottom: $inset-large;
}