@import "theme-constants.scss";

*, *:after, *:before {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
}

::selection {
  color: white;
  background: $dark;
}

html {
  min-height: 100%;
  min-width: 360px;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  color: $base-foreground;
  background-color: $base-background;
}

hr {
  border: 0;
  height: 1px;
  background: $list-item-divider-color;
}

.no-select, .no-select > * {
  user-select: none;
}

img {
  max-width: 100%;
}

a {
  font-weight: $font-weight-bold;
}

b, strong {
  font-weight: $font-weight-bold;
}

strong {
  color: $base-foreground-dark;
}

ul {
  list-style-type: square;
}

ul, ol {
  padding-left: 2em;
  margin: 0;
}

li {
  margin-top: $spacing-small;
  margin-bottom: $spacing-small;
}

ul ul, ul ol, ol ul, ol ol {
  padding-left: 1em;
}

a[onclick] {
  cursor: pointer;
}

a.undecorated {
  &, &:active, &:visited, &:hover {
    color: inherit;
    font-weight: inherit;
    text-decoration: none;
    cursor: pointer;
  }
}

dt {
  font-weight: $font-weight-bold;
  color: $base-foreground-dark;
  display: list-item;
  list-style-type: square;
  list-style-position: inside;
  padding-left: 0;
  margin: 0;
}

dd {
  font-weight: $font-weight-plain;
  padding-left: 1em;
  margin: 0;
}

pre > code {
  display: block;
}