@import "theme-constants.scss";

.card {
  border-radius: $card-border-radius;
  background: $card-background;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.05), 0 1px 2px rgba(0, 0, 0, 0.1);
  text-overflow: ellipsis;
  transition: box-shadow 0.4s ease;

  > header, > footer {
    font-size: $font-size-small;
    background-color: $panel-background;
    padding: $inset-tiny $inset-small;
  }

  > header {
    font-weight: 700;
    text-transform: uppercase;
  }

  > section {
    padding: $inset-small;
  }
}

.card:hover {
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2), 0 1px 4px rgba(0, 0, 0, 0.4);
}

@each $name, $color in $colors {
  .card-#{$name}
) {
  border-top: $card-color-border-size solid #{$color};
}
}