@import "theme-constants.scss";
@import "material.scss";

.card {
  @extend .material-shadow-1;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: stretch;
  align-content: stretch;
  border-radius: $card-border-radius;
  background: $card-background;
  text-overflow: ellipsis;
  transition: box-shadow 0.3s cubic-bezier(.25, .8, .25, 1);

  > section, .content {
    flex: 1 1 auto;
    padding: $inset-small;
  }

  > header, > footer {
    flex: 0 0 auto;
    font-size: $font-size-small;
    padding: $inset-tiny $inset-small;
  }

  > header {
    background-color: $card-header-background;
    color: $card-header-foreground;
    border-radius: $card-border-radius $card-border-radius 0 0;
    font-weight: 700;
    text-transform: uppercase;
  }

  > footer {
    background-color: $card-footer-background;
    color: $card-footer-foreground;
    border-radius: 0 0 $card-border-radius $card-border-radius;
  }
}

.card:hover {
  @extend .material-shadow-2;
}

@each $name, $color in $colors {
  .card-#{$name} {
    border-top: $card-color-border-size solid #{$color};
  }

  .card-#{$name} > header {
    border-radius: 0;
    background-color: #{$color};
    color: white;
  }
}