@import "theme-constants.scss";

.wallpaper {
  background-size: cover;
  background-position: 100% 30%;
  color: white;
  text-shadow: 0 0 10px black;
  padding: $inset-base;
  margin: 0;

  h1, h2, h3, h4, h5, h6 {
    color: white;
  }
}

.input-widget {
  padding: 0;
  display: inline-flex;
  flex-wrap: nowrap;

  .input {
    position: relative;
    flex: 0 1 auto;
    display: flex;
    padding: 0 !important;

    > * {
      flex: 1 1 auto;
      margin: 0;
    }

    .input-widget-dropdown {
      display: none;
      position: absolute;
      top: 100%;
      left: 0;
      min-width: 100%;
      border: 1px solid $base-foreground;
      box-shadow: 2px 4px 4px $shadow-color;
      background-color: white;
      transform: translateY(-1px);
      z-index: 10;
    }
  }

  &.show-dropdown {
    .input {
      .input-widget-dropdown {
        display: block;
      }
    }
  }

  .input-widget-button {
    margin: 0;
    padding: 0 $inset-tiny;
    flex: 0 0 auto;
    border: 1px solid $base-foreground;
    border-left: none;
    border-radius: 0;
    box-shadow: none;
  }
}

.shadow-bottom {
  box-shadow: 0 2px 4px $shadow-color;
}

.shadow-right {
  box-shadow: 2px 0 4px $shadow-color;
}

.shadow-left {
  box-shadow: -2px 0 4px $shadow-color;
}

.shadow-top {
  box-shadow: 0 -2px 4px $shadow-color;
}

.shadow-inner {
  box-shadow: inset 0 -5px 5px 0 rgba(0, 0, 0, 0.6), inset 0 5px 5px 0 rgba(0, 0, 0, 0.6);
}

.page-title {

  h1, h2, h3, h4, h5, h6 {
    font-family: $title-font;
    padding: 0;
    margin: 0;
  }

  h1 {
    font-size: 2*$font-size-h1;
    font-weight: $font-weight-bold;
  }
  h2 {
    font-size: 2*$font-size-h2;
    font-weight: $font-weight-bold;
  }
  h3 {
    font-size: 2*$font-size-h3;
    font-weight: $font-weight-normal;
  }
  h4 {
    font-size: 2*$font-size-h4;
    font-weight: $font-weight-normal;
  }
  h5 {
    font-size: 2*$font-size-h5;
    font-weight: $font-weight-normal;
  }
  h6 {
    font-size: 2*$font-size-h6;
    font-weight: $font-weight-normal;
  }
}

.zoom {
  display: inline-block;
  transition: all 0.15s ease-out;

  &:hover {
    transform: scale(1.1);
    transition: all 0.3s ease-out;
  }
  &.low:hover {
    transform: scale(1.1);
  }
  &.medium:hover {
    transform: scale(1.2);
  }
  &.high:hover {
    transform: scale(1.5);
  }
}

.zoom-inside {
  width: 100%;
  height: 100%;
  overflow: hidden;
  > * {
    transition: all 0.2s ease-out;
  }

  &:hover > * {
    display: inline-block;
    transform: scale(1.25);
    transition: all 0.4s ease-out;
  }
}

img.image-contain {
  display: inline-block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image-border {
  display: inline-block;
  border: 1px solid #999999;
  padding: 6px;
  background: white;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6);
  margin: $inset-small;
  overflow: hidden;
}