@import "theme-constants.scss";

.inset-base {
  padding: $inset-base;
}

.inset-tiny {
  padding: $inset-tiny;
}

.inset-small {
  padding: $inset-small;
}

.inset-large {
  padding: $inset-large;
}

.tab {
  margin-left: $spacing-large;
}

.block {
  margin-top: $spacing-base;
  margin-bottom: $spacing-base;
  display: block;
}

.box {
  display: flex;
  flex-wrap: nowrap;

  > * {
    flex: 0 0 auto;
  }
}

.box-content-stretch {
  flex: 1 1 auto;
}

.inline-block {
  @extend .block;
  display: inline-block;
}

.container {
  margin: 0;
}

.content {
  margin-left: $spacing-base;
  margin-right: $spacing-base;
}

.content-wrapper {
  display: block;
  margin: 0 auto;
  max-width: $media-xl;
}