@import "theme-constants.scss";

.inset-base {
  padding: $inset-base;
}

.inset-tiny {
  padding: $inset-tiny;
}

.inset-small {
  padding: $inset-small;
}

.inset-large {
  padding: $inset-large;
}

.inset-huge {
  padding: $inset-huge;
}

.container {
  margin: 0;
}

.content {
  padding: $inset-large;
}

.block {
  margin-top: $spacing-base;
  display: block !important;;
}

.inline-block {
  @extend .block;
  display: inline-block !important;
}

.box {
  display: flex;
  flex-wrap: nowrap;

  > * {
    flex: 0 0 auto;
  }
}

.tab {
  margin-left: $spacing-large;
}

.box-content-stretch {
  flex: 1 1 auto;
}

.content-wrapper {
  display: block;
  margin: 0 auto;
  max-width: $media-xl;
}

.content-relative {
  position: relative;

  > * {
    margin: 0 !important;
    display: inline-block;
    position: absolute;
  }

  .top-left {
    top: 0;
    left: 0;
  }

  .top-center {
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
  }

  .top-right {
    top: 0;
    right: 0;
  }

  .center-left {
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
  }

  .center {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .center-right {
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
  }

  .bottom-left {
    bottom: 0;
    left: 0;
  }

  .bottom-center {
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
  }

  .bottom-right {
    bottom: 0;
    right: 0;
  }
}

.media {
  display: block;
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;

  &.aspect3to4 {
    padding-bottom: 75%;
  }
  &.aspect16to9 {
    padding-bottom: 56.25%;
  }
  &.aspect21to9 {
    padding-bottom: 42.85%;
  }
  &.aspectSquare {
    padding-bottom: 100%;
  }
  &.aspect27to40 {
    padding-bottom: 148.15%;
  }
  &.aspectDinLandscape {
    padding-bottom: 100%/$sqrt2;
  }
  &.aspectDinPortrait {
    padding-bottom: 100%*$sqrt2;
  }

  > * {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}


