@import "theme-constants.scss";

.block {
  margin-top: $spacing-base;
  margin-bottom: $spacing-base;
}

.container {
  margin: 0;
}

.content {
  margin-left: $inset-base;
  margin-right: $inset-base;
}

.content-wrapper {
  display: block;
  margin: 0 auto;
  max-width: $media-xl;
}

.inset-base {
  padding: $inset-base;
}

.inset-small {
  padding: $inset-small;
}

.inset-large {
  padding: $inset-large;
}
