@import "theme-constants.scss";
@import "material.scss";

// Input styling

input, textarea, select, option {
  padding: $inset-tiny;
  font-family: $base-font;
  font-size: $font-size-base;
  font-weight: $font-weight-plain;
  color: $input-color;
}

form.layout-table.key-value > * > label:first-child {
  text-align: right;
  vertical-align: top;
  font-weight: $font-weight-bold;
  padding-right: 1em;
}

option:disabled {
  display: none;
}

// Input Fields
.input-field {

  margin: $spacing-base 0;

  > * {
    display: block;
    overflow: hidden;
    width: 100%;
    padding-top: 0;
    padding-bottom: 0;
  }

  > label:first-of-type {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: $font-size-tiny;
    font-weight: $font-weight-plain;
  }

  > input, > .input, > select, > textarea {
    font-weight: $font-weight-plain;
    padding: $spacing-small $spacing-tiny;
    border: none;
    border-bottom: 1px solid $separator-color;
    background: rgba(0, 0, 0, 0.05);
  }
  * > input, * > .input, * > select, * > textarea {
    font-weight: $font-weight-plain;
    padding: $spacing-small $spacing-tiny;
    border: none;
    background: none;
  }
  select, option {
    padding: 0;
  }
  > .input-message {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: $font-size-small;
    font-weight: $font-weight-semi-bold;
  }
}

.input-field.success {
  > input, > .input, > select, > textarea {
    border-color: $success;
  }
  > label:first-of-type, > .input-message {
    color: $success;
  }
}

.input-field.error {
  > input, > .input, > select, > textarea {
    border-color: $error;
  }

  > label:first-of-type, > .input-message {
    color: $error;
  }
}

.input-field.warning {

  > input, > .input, > select, > textarea {
    border-color: $warning;
  }

  > label:first-of-type, > .input-message {
    color: $warning;
  }
}

.input-field.info {

  > input, > .input, > select, > textarea {
    border-color: $info;
  }

  > label:first-of-type, > .input-message {
    color: $info;
  }
}

// Buttons

button, .button {
  @extend .material-shadow-2;
  padding: $inset-small;
  border-radius: 3px;
  cursor: pointer;
  font-weight: $font-weight-bold;
  background-color: $light-background;
  color: $light-foreground;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.2) rgba(0, 0, 0, 0.2) rgba(0, 0, 0, 0.4);
  box-shadow: 0 1px 0px rgba(255, 255, 255, 0.3) inset, 0 8px 4px rgba(255, 255, 255, 0.15) inset, 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

  &:active, &:hover {
    background-color: darken($light-background, 5%);
  }

  &:active {
    transform: translate(1px, 1px);
  }
}

@each $name, $color in $colors {

  .button-#{$name} {
    @if $name == 'dark' {
      color: $dark-foreground;
    } @else if $name == 'light' {
      color: $light-foreground;
    } @else {
      color: white;
    }

    background-color: #{$color};
  }

  @if $name != 'disabled' {
    .button-#{$name}:hover, .button-#{$name}:active {
      background-color: darken($color, 5%);
    }
    .button-#{$name}:active {
      box-shadow: 0 1px 0px rgba(255, 255, 255, 0.3) inset, 0 8px 4px rgba(255, 255, 255, 0.15) inset;
      transform: translate(1px, 1px);
    }
  }

  @if $name == 'disabled' {
    .button-#{$name}:hover, .button-#{$name}:active {
      background-color: $color;
    }
    .button-#{$name}:active {
      box-shadow: inherit !important;
    }
    button:disabled {
      background-color: $color;
      color: white;
      cursor: not-allowed;
    }
  }
}

