@import "theme-constants.scss";

.grid {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  align-content: stretch;
  flex-wrap: wrap;
  margin-right: 0;
  margin-left: 0;
  max-width: 100%;

  &.grid-gutter {
    margin-right: $spacing-base;
    margin-left: -$spacing-base;
    max-width: calc(100% + #{2*$spacing-base});

    > * {
      padding: 0 0 $spacing-base $spacing-base;
    }
  }
  &.grid-gutter-small {
    margin-right: $spacing-small;
    margin-left: -$spacing-small;
    max-width: calc(100% + #{2*$spacing-small});

    > * {
      padding: 0 0 $spacing-small $spacing-small;
    }
  }

  > * {
    position: relative;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .align-fill {
    align-content: stretch;
  }

  @for $i from 1 through 12 {
    .col-#{$i} {
      flex: 0 0 100% * $i/12;
    }
  }

  @media only screen and (min-width: $media-lg-min) and (max-width: $media-lg-max) {
    // 6 columns

    @for $i from 1 through 6 {
      .col-#{$i*2-1}, .col-#{$i*2} {
        flex: 0 0 100% * $i/6;
      }
    }
  }
  @media only screen and (min-width: $media-md-min) and (max-width: $media-md-max) {
    // 3 columns

    @for $i from 1 through 3 {
      .col-#{$i*4-3}, .col-#{$i*4-2}, .col-#{$i*4-1}, .col-#{$i*4} {
        flex: 0 0 100% * $i/3;
      }
    }
  }
  @media only screen and (min-width: $media-sm-min) and (max-width: $media-sm-max) {
    // 2 columns

    @for $i from 1 through 2 {
      .col-#{$i*6-5}, .col-#{$i*6-4}, .col-#{$i*6-3}, .col-#{$i*6-2}, .col-#{$i*6-1}, .col-#{$i*6} {
        flex: 0 0 100% * $i/2;
      }
    }
  }
  @media only screen and (max-width: $media-xs-max) {
    // 1 column

    .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
      flex: 0 0 100%;
    }
  }
}