@import "theme-constants.scss";

.grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  margin-top: 0;
  margin-bottom: $grid-column-spacing*2;
  margin-rigth: 0;
  margin-left: -$grid-column-spacing;

  > * {
    padding: 0 0 $grid-column-spacing $grid-column-spacing;
    height: 100%;
  }

  @for $i from 1 through 12 {
    .col-#{$i} {
      flex: 0 0 100% * $i/12;
    }
  }

  @media only screen and (min-width: $media-md) and (max-width: $media-lg) {
    // 6 columns

    @for $i from 1 through 6 {
      .col-#{$i*2-1}, .col-#{$i*2} {
        flex: 0 0 100% * $i/6;
      }
    }
  }
  @media only screen and (min-width: $media-sm) and (max-width: $media-md) {
    // 3 columns

    @for $i from 1 through 3 {
      .col-#{$i*4-3}, .col-#{$i*4-2}, .col-#{$i*4-1}, .col-#{$i*4} {
        flex: 0 0 100% * $i/3;
      }
    }
  }
  @media only screen and (min-width: $media-xs) and (max-width: $media-sm) {
    // 2 columns

    @for $i from 1 through 2 {
      .col-#{$i*6-5},.col-#{$i*6-4},.col-#{$i*6-3}, .col-#{$i*6-2}, .col-#{$i*6-1}, .col-#{$i*6} {
        flex: 0 0 100% * $i/2;
      }
    }
  }
  @media only screen and (max-width: $media-xs) {
    // 1 column

    .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
      flex: 0 0 100%;
    }
  }
}
