@import "theme-constants.scss";

.grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  margin-right: 0;
  margin-left: 0;
  max-width: 100%;

  &.gutter {
    margin-right: $spacing-base;
    margin-left: -$spacing-base;
    min-width: 100%;
    max-width: calc(100% + #{2*$spacing-base});

    > * {
      padding: 0 0 $spacing-base $spacing-base;
    }
  }
  &.gutter-small {
    margin-right: $spacing-small;
    margin-left: -$spacing-small;
    max-width: calc(100% + #{2*$spacing-small});

    > * {
      padding: 0 0 $spacing-small $spacing-small;
    }
  }
  &.gutter-large {
    margin-right: $spacing-large;
    margin-left: -$spacing-large;
    max-width: calc(100% + #{2*$spacing-large});

    > * {
      padding: 0 0 $spacing-large $spacing-large;
    }
  }
  &.gutter-huge {
    margin-right: $spacing-huge;
    margin-left: -$spacing-huge;
    max-width: calc(100% + #{2*$spacing-huge});

    > * {
      padding: 0 0 $spacing-huge $spacing-huge;
    }
  }

  > * {
    position: relative;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 1 1 100%;
    max-width: 100%
  }

  .align-fill {
    align-content: stretch;
  }

  @for $i from 1 through 12 {
    .col-#{$i} {
      flex: 0 0 100% * $i/12;
      max-width: 100% * $i/12;
    }
  }

  @media only screen and (max-width: $media-lg-max) {
    @for $i from 1 through 12 {
      .col-lg-#{$i} {
        flex: 0 0 100% * $i/12;
        max-width: 100% * $i/12;
      }
    }
  }
  @media only screen and (max-width: $media-md-max) {
    @for $i from 1 through 12 {
      .col-md-#{$i} {
        flex: 0 0 100% * $i/12;
        max-width: 100% * $i/12;
      }
    }
  }
  @media only screen and (max-width: $media-sm-max) {
    @for $i from 1 through 12 {
      .col-sm-#{$i} {
        flex: 0 0 100% * $i/12;
        max-width: 100% * $i/12;
      }
    }
  }
  @media only screen and (max-width: $media-xs-max) {
    @for $i from 1 through 12 {
      .col-xs-#{$i} {
        flex: 0 0 100% * $i/12;
        max-width: 100% * $i/12;
      }
    }
  }
}