@import "theme-constants.scss";

@each $name, $color in $colors {
  .label-#{$name} {
    display: inline;
    font-size: $font-size-tiny;
    font-weight: $font-weight-semi-bold;
    background: $color;
    border-radius: 0.25em;
    padding: $inset-tiny;
    min-width: 2em;
    text-align: center;
    user-select: none;

    @if $name == 'dark' {
      color: $dark-foreground;
    } @else if $name == 'light' {
      color: $light-foreground;
    } @else {
      color: white;
    }

    &.border {
      border: 1px solid darken($color, 20%);
    }
  }
}