@import "theme-constants.scss";

.full-width {
  width: 100%;
}

.full-height {
  height: 100%;
}

.pull-left {
  float: left !important;
}

.pull-right {
  float: right !important;
}

.table-layout {
  display: table;
  border-spacing: $spacing-base;

  > * {
    display: table-row;
  }
  > * > * {
    display: table-cell;
  }
}

.flex {
  display: flex;
}

.flex-0 {
  flex: 0 0 auto;
}

.flex-1 {
  flex: 1 1 auto;
}