@import "theme-constants.scss";

.full-width {
  width: 100%;
}

.full-height {
  height: 100%;
}

.pull-left {
  float: left !important;
}

.pull-right {
  float: right !important;
}

.table-layout {
  display: table;
  border-spacing: $spacing-base;

  > * {
    display: table-row;
  }
  > * > * {
    display: table-cell;
  }
}

.flex {
  display: flex;
}

.flex-0 {
  flex: 0 0 auto;
}

.flex-1 {
  flex: 1 1 auto;
}

.resize-fix {
  flex-grow: 0;
  flex-shrink: 0;
}

.resize-grow, .resize-grow-1 {
  flex-grow: 1;
}

.resize-grow-2 {
  flex-grow: 2;
}

.resize-grow-3 {
  flex-grow: 3;
}

.resize-shrink, .resize-shrink-1 {
  flex-shrink: 1;
}

.resize-shrink-2 {
  flex-shrink: 2;
}

.resize-shrink-3 {
  flex-shrink: 3;
}