@import "theme-constants.scss";

.navbar-light {
  color: $light-foreground;
  background-color: $light-background;
  a, a:active, a:visited, a:hover {
    color: $light-foreground;
  }
  .navbar, &.navbar {
    > a:hover, > div:hover {
      background-color: $light-background-hover;
    }
  }
}

.navbar-dark {
  color: $dark-foreground;
  background-color: $dark-background;
  a, a:active, a:visited, a:hover {
    color: $dark-foreground;
  }
  .navbar, &.navbar {
    > a:hover, > div:hover {
      background-color: $dark-background-hover;
    }
  }
}

.navbar {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: space-between;

  padding: 0;

  .pull {
    display: inline;
    flex: 1 1 auto;
  }
  .pull:hover {
    cursor: default;
  }

  > * {
    padding: $inset-base;
    display: inline-block;
    flex: 0 0 auto;
    position: relative;
    cursor: pointer;
  }

  a, a:active, a:visited {
    font-weight: normal;
    text-decoration: none;
    cursor: pointer;
  }
}

.navbar-border {
  border: 1px solid gray;
  border-radius: 3px;
}

.navbar-small {
  > * {
    padding: $inset-small;
  }
}
.navbar-large {
  > * {
    padding: $inset-large;
  }
}