@import "theme-constants.scss";

.navbar-light {
  color: $light-foreground;
  background-color: $light-background;

  .nav-item {
    &:hover, &.active {
      background-color: $light-background-hover;
    }
  }
}

.navbar-dark {
  color: $dark-foreground;
  background-color: $dark-background;

  .nav-item {
    &:hover, &.active {
      background-color: $dark-background-hover;
    }
  }
}

.navbar {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: space-between;
  text-overflow: ellipsis;
  vertical-align: middle;
  max-width: 100%;
  padding: 0;

  .nav-group {
    display: inline-block;
    margin: 0;
    padding: 0;
  }

  > *, .nav-item  {
    padding: $inset-base;
    display: inline-block;
    flex: 0 0 auto;
    position: relative;
    vertical-align: middle;
  }

  .pull {
    display: inline-block;
    flex: 1 1 auto;
  }

  .nav-item {
    cursor: pointer;
  }

  a, a:active, a:visited, a:hover {
    color: inherit;
    font-weight: normal;
    text-decoration: none;
    cursor: pointer;
  }
}

.navbar-border {
  border: 1px solid gray;
  border-radius: 3px;
}

.navbar-small {
  > *, .nav-item  {
    padding: $inset-small;
  }
}

.navbar-large {
  > *, .nav-item  {
    padding: $inset-large;
  }
}