@import "theme-constants.scss";

.popup {

  cursor: pointer;
  position: relative;

  > ul, > .popup-content {
    background: $nav-popup-background;
    color: $nav-popup-foreground;
    margin: 0;
    position: absolute;
    z-index: 999;
    display: none;
    top: 100%;
    left: 0;
    right: auto;
    min-width: 160px;
    max-width: 80vw;
    max-height: 80vh;
    box-shadow: 3px 3px 6px $shadow-color;
  }
}

.popup:hover > ul, .popup:hover > .popup-content {
  display: block;
}

.popup-left-up {
  > ul, > .popup-content {
    top: auto;
    bottom: 0;
    left: auto;
    right: 100%;
  }
}

.popup-left-down {
  > ul, > .popup-content {
    top: 0;
    left: auto;
    right: 100%;
  }
}

.popup-right-up {
  > ul, > .popup-content {
    top: auto;
    bottom: 0;
    left: 100%;
    right: auto;
  }
}

.popup-right-down {
  > ul, > .popup-content {
    top: 0;
    left: 100%;
    right: auto;
  }
}

.popup-bottom-left {
  > ul, > .popup-content {
    top: 100%;
    left: auto;
    right: 0;
  }
}

.popup-bottom-right {
  > ul, > .popup-content {
    top: 100%;
    left: 0;
    right: auto;
  }
}

.popup-top-left {
  > ul, > .popup-content {
    top: auto;
    bottom: 100%;
    left: auto;
    right: 0;
  }
}

.popup-top-right {
  > ul, > .popup-content {
    top: auto;
    bottom: 100%;
    left: 0;
    right: auto;
  }
}