@import "theme-constants.scss";

table {
  overflow-x: auto;
  border-collapse: collapse;
  margin-top: $spacing-base;
  margin-bottom: $spacing-base;
  background: $primary;

  tr {
  }

  th, td {
    padding: $table-cell-padding;
    text-align: left;
    font-size: $font-size-base;
  }
  th {
    background: $table-header-background;
    color: $table-header-foreground;
  }
  td {
    border: none;
    border-bottom: 1px solid $table-separator-color;
    background: $table-cell-background;
    color: $table-cell-foreground;
  }

  &.table-full-width {
    width: 100%;
  }

  &.table-striped {
    tr:nth-of-type(odd) > td {
      background: $table-zebra-cell-background;
      color: $table-zebra-cell-foreground;
    }
  }

  &.table-key-value {
    tr > td:first-child, tr > th:first-child {
      font-weight: $font-weight-bold;
      border-right: 1px solid $table-separator-color;
      text-align: right;
    }

    tr > td:first-child {
      font-weight: $font-weight-bold;
      background: $table-first-cell-background;
      color: $table-first-cell-foreground;
      border-right: 1px solid $table-separator-color;
    }
  }
}