// general

$golden-ratio: 1.61803398875;
$sqrt2: 1.41421356237;

// Media break points
$media-xs: 320px; /* Custom, iPhone Retina */
$media-sm: 480px; /* Extra Small Devices, Phones */
$media-md: 768px; /* Small Devices, Tablets */
$media-lg: 992px; /* Medium Devices, Desktops */
$media-xl: 1200px; /* Large Devices, Wide Screens */
$media-xs-max: $media-sm - 1;
$media-sm-min: $media-sm;
$media-sm-max: $media-md - 1;
$media-md-min: $media-md;
$media-md-max: $media-lg - 1;
$media-lg-min: $media-lg;
$media-lg-max: $media-xl - 1;
$media-xl-min: $media-xl;

// Typography

$base-font: 'Merriweather Sans', sans-serif;
$title-font: 'Merriweather Sans', sans-serif;
$header-font: 'Merriweather Sans', sans-serif;
$code-font: 'Source Code Pro', 'Consolas', monospace;

$title-font-weight: 700;
$header-font-weight: 700;
$font-weight-plain: 300;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;

$font-size-base: 14px;
$font-size-tiny: $font-size-base* 11/14;
$font-size-small: $font-size-base* 12/14;
$font-size-large: ceil($font-size-base* 24/14);
$font-size-huge: ceil($font-size-base* 36/14);
$font-size-h1: ceil($font-size-base* 36/14);
$font-size-h2: ceil($font-size-base* 30/14);
$font-size-h3: ceil($font-size-base* 24/14);
$font-size-h4: ceil($font-size-base* 18/14);
$font-size-h5: ceil($font-size-base* 14/14);
$font-size-h6: ceil($font-size-base* 12/14);

$line-height: $sqrt2;

// Colors

$base-background: rgb(248, 249, 251);
$base-foreground: #6a6c6f;
$base-foreground-dark: darken($base-foreground, 10%);
$base-foreground-light: lighten($base-foreground, 10%);
$shadow-color: rgba(0, 0, 0, 0.4);

$primary: rgb(64, 81, 105);
$dark: #20282e;
$light: #e3e6e7;
$disabled: rgb(172, 165, 134);
$blue: #3388c1;
$green: rgb(150, 190, 10);
$yellow: rgb(255, 201, 1);
$orange: #f79803;
$red: #d74943;

$info: $blue;
$success: $green;
$warning: $orange;
$error: $red;

$colors: (
        dark: $dark,
        light: $light,
        primary: $primary,
        disabled: $disabled,
        blue: $blue,
        green: $green,
        yellow: $yellow,
        orange: $orange,
        red: $red,
        info: $info,
        success: $success,
        warning: $warning,
        error: $error
);

$header-color: $primary;
$input-color: #111122;

$separator-color: #CCCCCC;

$transparent-lighten: rgba(255, 255, 255, 0.1);
$transparent-darken: rgba(0, 0, 0, 0.1);

// metrics

$spacing-base: 12px;
$spacing-small: $spacing-base/$golden-ratio;
$spacing-tiny: $spacing-base/$golden-ratio/$golden-ratio;
$spacing-large: $spacing-base*$golden-ratio;
$spacing-huge: $spacing-base*$golden-ratio*$golden-ratio;

$inset-base: $spacing-base;
$inset-small: $spacing-small;
$inset-large: $spacing-large;
$inset-tiny: $spacing-tiny;
$inset-huge: $spacing-huge;

// panels
$light-background: $light;
$light-background-hover: darken($light-background, 10%);
$light-foreground: darken($light, 60%);
$light-divider-color: darken($light-background, 30%);

$dark-background: $dark;
$dark-background-hover: darken($dark-background, 10%);
$dark-foreground: lighten($dark, 80%);
$dark-divider-color: darken($dark-background, 30%);

// table
$table-cell-padding: $spacing-small $spacing-base;
$table-separator-color: rgba(0, 0, 0, 0.1);
$table-cell-background: rgba(255, 255, 255, 1);
$table-cell-foreground: darken($base-foreground, 20%);
$table-header-background: rgba(0, 0, 0, 0.05);
$table-header-foreground: white;
$table-first-cell-background: rgba(255, 255, 255, 0.7);
$table-first-cell-foreground: $table-cell-foreground;
$table-zebra-cell-background: rgba(255, 255, 255, 0.8);
$table-zebra-cell-foreground: $table-cell-foreground;

// grid

// cards
$card-background: lighten($light, 20%);
$card-border-color: darken($light, 20%);
$card-border-radius: 3px;
$card-color-border-size: 3px;
$card-header-background: darken($light, 10%);
$card-header-foreground: darken($light, 60%);
$card-footer-background: $light;
$card-footer-foreground: darken($light, 60%);

// list
$list-item-background: lighten($light, 10%);
$list-item-background-hover: $light;
$list-item-foreground: $base-foreground;
$list-item-divider-color: darken($light, 20%);
;

// nav
$nav-popup-background: $list-item-background;
$nav-popup-background-hover: darken($nav-popup-background, 5%);
$nav-popup-foreground: $list-item-foreground;
$nav-popup-divider-color: $list-item-divider-color;
