@import url('https://fonts.googleapis.com/css?family=Merriweather+Sans:300,300i,400,400i,700|Source+Code+Pro:400,700');
@import "theme-constants.scss";

body {
  font-family: $base-font;
  font-weight: $font-weight-plain;
  color: $base-foreground;
  font-size: $font-size-base;
  line-height: 1.5
}

h1, h2, h3, h4, h5, h6 {
  font-family: $header-font;
  font-weight: $header-font-weight;
  color: $header-color;
  margin: $spacing-small 0;
  padding: 0;
}

h1, .h1 {
  font-size: $font-size-h1;
}

h2, .h2 {
  font-size: $font-size-h2;
}

h3, .h3 {
  font-size: $font-size-h3;
}

h4, .h4 {
  font-size: $font-size-h4;
}

h5, .h5 {
  font-size: $font-size-h5;
}

h6, .h6 {
  font-size: $font-size-h6;
}

.text-tiny {
  font-size: $font-size-tiny;
}

.text-small {
  font-size: $font-size-small;
}

.text-base {
  font-size: $font-size-base;
}

.text-large {
  font-size: $font-size-large;
}

.text-huge {
  font-size: $font-size-huge;
}

.text-light {
  font-weight: 300;
}

.text-normal {
  font-weight: 400;
}

.text-semibold {
  font-weight: 600;
}

.text-bold {
  font-weight: 700;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-justify {
  text-align: justify;
}

small {
  font-size: $font-size-small;
}

code {
  color: $dark;
  font-family: $code-font;
  font-size: $font-size-small;
  background-color: $light-background;
  padding: $inset-tiny;
}

.single-line {
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.text-columns-2 {
  column-count: 2;
}

.text-columns-3 {
  column-count: 3;
}

.text-columns-4 {
  column-count: 4;
}

.text-columns-2, .text-columns-3, .text-columns-4 {
  column-width: 250px;
  column-gap: $spacing-large;
}