// general

$golden-ratio: 1.61803398875;
$sqrt2: 1.41421356237;

// Media break points
$media-xs: 320px; /* Custom, iPhone Retina */
$media-sm: 480px; /* Extra Small Devices, Phones */
$media-md: 768px; /* Small Devices, Tablets */
$media-lg: 992px; /* Medium Devices, Desktops */
$media-xl: 1200px; /* Large Devices, Wide Screens */
$media-xs-max: $media-sm - 1;
$media-sm-min: $media-sm;
$media-sm-max: $media-md - 1;
$media-md-min: $media-md;
$media-md-max: $media-lg - 1;
$media-lg-min: $media-lg;
$media-lg-max: $media-xl - 1;
$media-xl-min: $media-xl;

// Typography

$base-font: 'Noto Sans', 'Trebuchet MS', Verdana, sans-serif;
$title-font: 'Noto Sans', 'Trebuchet MS', Verdana, sans-serif;
$header-font: $title-font;
$code-font: 'Source Code Pro', 'Consolas', 'Courier', monospace;

$header-font-weight: 700;
$font-weight-plain: 400;
$font-weight-normal: 400;
$font-weight-semi-bold: 500;
$font-weight-bold: 700;

// Fluid font size mixin
$font-size-min: 12px; // font size at $media-xs
$font-size-max: 16px; // font size at $media-xl

// Header font scale factor
$header-font-size-scale: 1.25; // 1.25 = major third

@function strip-unit($value) {
  @return $value / ($value * 0 + 1);
}

@mixin fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size) {
  $u1: unit($min-vw);
  $u2: unit($max-vw);
  $u3: unit($min-font-size);
  $u4: unit($max-font-size);

  & {
    font-size: $min-font-size;
    @media screen and (min-width: $min-vw) {
      font-size: calc(#{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}));
    }
    @media screen and (min-width: $max-vw) {
      font-size: $max-font-size;
    }
  }
}


// Colors

$base-background: rgb(248, 249, 251);
$base-foreground: #6a6c6f;
$base-foreground-dark: darken($base-foreground, 10%);
$base-foreground-light: lighten($base-foreground, 10%);
$shadow-color: rgba(0, 0, 0, 0.4);

$primary: rgb(64, 81, 105);
$dark: #20282e;
$light: #e3e6e7;
$disabled: rgb(165, 155, 145);
$blue: rgb(51, 136, 193);
$green: rgb(150, 190, 10);
$yellow: rgb(255, 201, 1);
$orange: #f79803;
$red: #d74943;

$info: $blue;
$success: $green;
$warning: $orange;
$error: $red;

$colors: (
        dark: $dark,
        light: $light,
        primary: $primary,
        disabled: $disabled,
        blue: $blue,
        green: $green,
        yellow: $yellow,
        orange: $orange,
        red: $red,
        info: $info,
        success: $success,
        warning: $warning,
        error: $error
);

$header-color: $primary;
$input-color: #111122;

$separator-color: #CCCCCC;

$transparent-lighten: rgba(255, 255, 255, 0.1);
$transparent-darken: rgba(0, 0, 0, 0.1);

// metrics

$spacing-base: 1em;
$spacing-small: $spacing-base/$golden-ratio;
$spacing-tiny: $spacing-base/$golden-ratio/$golden-ratio;
$spacing-large: $spacing-base*$golden-ratio;
$spacing-huge: $spacing-base*$golden-ratio*$golden-ratio;

$inset-base: $spacing-base;
$inset-small: $spacing-small;
$inset-large: $spacing-large;
$inset-tiny: $spacing-tiny;
$inset-huge: $spacing-huge;

// panels
$light-background: $light;
$light-background-hover: darken($light-background, 10%);
$light-foreground: darken($light, 60%);
$light-divider-color: darken($light-background, 30%);

$dark-background: $dark;
$dark-background-hover: darken($dark-background, 10%);
$dark-foreground: lighten($dark, 80%);
$dark-divider-color: darken($dark-background, 30%);

// table
$table-cell-padding: $spacing-small $spacing-base;
$table-separator-color: rgba(0, 0, 0, 0.1);
$table-cell-background: rgba(255, 255, 255, 1);
$table-cell-foreground: darken($base-foreground, 20%);
$table-header-background: rgba(0, 0, 0, 0.0);
$table-header-foreground: white;
$table-first-cell-background: rgba(255, 255, 255, 0.75);
$table-first-cell-foreground: $table-cell-foreground;
$table-zebra-cell-background: rgba(255, 255, 255, 0.9);
$table-zebra-cell-foreground: $table-cell-foreground;

// grid

// cards
$card-background: lighten($light, 20%);
$card-border-color: darken($light, 20%);
$card-border-radius: 3px;
$card-color-border-size: 3px;
$card-header-background: darken($light, 10%);
$card-header-foreground: darken($light, 60%);
$card-footer-background: $light;
$card-footer-foreground: darken($light, 60%);

// list
$list-item-background: lighten($light, 10%);
$list-item-background-hover: $light;
$list-item-foreground: $base-foreground;
$list-item-divider-color: darken($light, 20%);

// nav
$nav-popup-background: $list-item-background;
$nav-popup-background-hover: darken($nav-popup-background, 5%);
$nav-popup-foreground: $list-item-foreground;
$nav-popup-divider-color: $list-item-divider-color;
